{% extends"admin/layouts_admin.html"%}
{% block body %}
    <div class="row">
        <div class="col-md-8 col-offset-3">
            {% from "admin/includes/_formhelpers.html" import render_field %}
            <form action="" method ="POST">
                <div class="form-group">
                    {{render_field(form.question, class="form-control")}}
                </div>
                <div class="form-group">
                    {{render_field(form.category, class="form-control")}}
                </div>
                <div class="form-group">
                    {{render_field(form.option_a, class="form-control")}}
                </div>
                <div class="form-group">
                    {{render_field(form.option_b, class="form-control")}}
                </div>
                <div class="form-group">
                    {{render_field(form.option_c, class="form-control")}}
                </div>
                <div class="form-group">
                    {{render_field(form.option_d, class="form-control")}}
                </div>
                <div class="form-group">
                    {{render_field(form.correct, class="form-control")}}
                </div>

                <div class="form-group">
                    <p> <input type="submit" class="btn btn-primary" value="Submit"></p>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}