{% extends"layouts.html"%}
{% block body %}
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Time <span>00.00</span></h5>
    <p class="card-text">
      <form action="" method="POST">
        
        <h3>{{questions.id}}.{{questions.question}}</h3>
        
          {% for option in choices %}
          <ul>
          <input type="radio" name="choice" value="{{option.id}}">{{option.choice}}
          </ul>
          <input type="hidden" name="number" value = "{{number}}">
          {% endfor %}
        <button type="submit" name="submit" class="btn btn-primary"> Next</button>
      </form>
    
  </p>
  
  </div>
</div>
{%endblock%}